.card-container{
    border: 5px solid rgb(60, 46, 212);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
 
}
.card-container img{
    box-sizing: border-box;
    max-width: 250px;
    height: 240px;
    padding: 0.5rem;

}
.link-card{
text-decoration: none;
}