.cardlist-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 400px);
    gap: 2rem;
    margin-top: 1.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 1.5rem;
    border: 2px solid rgb(221, 23, 23);
}