.nav-container{
    background-color: #DD1C1A;
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
   
}
.nav-container h2 {
    color: white; 
}
.link-nav{
    text-decoration: none; 
}